/*landing page*/
#logo {
	display: block;
    width: 100%;
    /*border: 2px dashed  #ffffff;
	box-shadow: 0 0 0 8px #ff0030;*/
}

#button {
	color: white;
	background: #323232;
	border: .05rem solid black;
	border: .05rem solid black;
	opacity: 0.8;
	margin-bottom: 100px;

	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

#button:hover {
	opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,1);
  box-shadow: 0px 0px 20px rgba(255,255,255,1);
}

#jumbotron {
	background: white;
}

#playerButtons {
	margin-top: 15%;
}

/* form Returning Player*/

@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #323232;
background: -webkit-linear-gradient(to bottom, black, white);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, black, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
float:left;
width:100%;
padding : 50px 0;
}

.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color: #323232;}
.login-sec .copy-text a{color: #323232;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: black}
.login-sec h2:after{content:" "; width:100px; height:5px; background:black; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background:  #323232; color:#fff; font-weight:600;}

.btn-login:hover {
	opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,1);
  box-shadow: 0px 0px 20px rgba(255,255,255,1);
}

/* choose math type */

#textMathType {
	align-content: center;
}

/*math type page*/
#addition {
	background-color: grey;
}