/*landing page*/
#logo {
	display: block;
   /* width: 100%;
    border-radius: 10%;*/
    padding-top: 10px;
    /*border: 2px dashed  #ffffff;
	box-shadow: 0 0 0 8px #ff0030;*/
}

/* image on new player form*/
#logoFormNP {
	display: block;
   /* width: 100%;*/
   /* border-radius: 2%;*/
    padding-top: 60px;
    padding-bottom: 60px;
    /*border: 2px dashed  #ffffff;
	box-shadow: 0 0 0 8px #ff0030;*/
}

/* image on returning player form*/
#logoFormRP {
	display: block;
   /* width: 100%;*/
   /* border-radius: 2%;*/
    padding-top: 80px;
    padding-bottom: 80px;
    /*border: 2px dashed  #ffffff;
	box-shadow: 0 0 0 8px #ff0030;*/
}

/* title on forms*/
#title{
	color: #669999;
}

#button {
	color: white;
	background: #2E8B57;
	border: .05rem solid #ADD8E6;
	border: .05rem solid #ADD8E6;
	opacity: 0.8;
	margin-bottom: 100px;

	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

#button:hover {
	opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,1);
  box-shadow: 0px 0px 20px rgba(255,255,255,1);
}

body {
	background: #BAB7A3;
}

/* white block for new player and returning player form*/
.login-block {
	padding-top: 55px;
}

#playerButtons {
	margin-top: 10%;
}

/* form Returning Player and New Player*/


.container{background:white; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color: #81CFDF;}
.login-sec .copy-text a{color: #81CFDF;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: black}
.login-sec h2:after{content:" "; width:100px; height:5px; background:black; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background:  #4FA887; color:#fff; font-weight:600;}

.btn-login:hover {
	opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,1);
  box-shadow: 0px 0px 20px rgba(255,255,255,1);
}


/* choose math type */

#textMathType {
	align-content: center;
}

/*math type page*/
#addition {
	background-color: #669999;
}

/*level page styling*/
.btn-group-vertical{
    width:100%;
    text-align: center;
   
}
/*Level page*/
.col-8{
    margin:12px auto;
    width:50%;
}

/*Level page*/
#levelh1{
    margin-top: 20px;
}

/*background color/text level page*/
#butL{
    background:#2E8B57;
    color: white;
}